/* Tecnica 1 float left/right */

.floatl{
	float: left;
}

.floatr{
	float: right;
}

.clear, .clear::after, .clear::before{/*esto es para limpiar la flotacion*/
	clear: both;
}

.clear::after, .clear::before{
	content: '';
	display: block;
}

/* Tecnica 2 Display:inline-block */

.inli-block{
	display: inline-block;
}

/* Tecnica 3 display:table */

.table{
	display:table;
}

.table-cell{
	display:table-cell;
}

/* Tecnica 4 display:flex */
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.flex-inline{
  display: -ms-iline-flexbox;
  display: -webkit-iline-flex;
	display: flex;
}

.flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-row-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-nowrap{
  -webkit-flex-wrap:nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap{
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse{
  -webkit-flex-wrap:wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.jc-flex-start{
  justify-content: flex-start;
}

.jc-flex-end{
  justify-content: flex-end;
}

.jc-flex-center{
  justify-content: center;
}

.jc-flex-between{
  justify-content: space-between;
}

.jc-flex-around{
justify-content: space-around;
}

.ai-flex-start{
  align-items: flex-start;
}

.ai-flex-end{
  align-items: flex-end;
}

.ai-center{
  align-items: center;
}

.ai-flex-baseline{
  align-items: baseline;
}

.ai-stretch{
align-items: stretch;
}

.ac-flex-start{
  align-content: flex-start;
}

.ac-flex-end{
  align-content: flex-end;
}

.ac-center{
  align-content: center;
}

.ac-space-between{
  align-content: space-between;
}

.ac-space-around{
  align-content: space-around;
}

.ac-stretch{
  align-content: stretch;
}

/* para los hijos */
.flex-none{
  flex: none;
}

.flex-auto{
  flex: auto;
}

/* **************** */
.as-flex-start{
  align-self: flex-start;
}

.as-flex-end{
  align-self: flex-end;
}

.as-center{
  align-self: center;
}

.as-baseline{
  align-self: baseline;
}

.as-stretch{
  align-self: stretch;
}

.as-auto{
  align-self: auto;
}


/* alineaciones verticales y horizontales */
.vertical-baseline{
	vertical-align: baseline;
}

.vertical-bottom{
	vertical-align: bottom;
}

.vertical-middle{
	vertical-align: middle;/*para cabecera de menu*/
}

.vertical-top{
	vertical-align: top;
}

.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.justify{
  text-align: justify;
}
/*tama単os de fuente*/
.f0{
	font-size: 0;
}
.f_25{
  font-size: 4px;
  font-size: 0.25rem;
}
.f_5{
  font-size: 8px;
  font-size: 0.5rem;
}

.f_75{
  font-size: 12px;
  font-size: 0.75px;
}

.f1{
  font-size: 16px;
  font-size: 1rem;
}
 .f1_25{
   font-size: 20px;
   font-size: 1.25rem;
 }

 .f1_75{
   font-size: 28px;
   font-size: 1.75rem;
 }

 .f2{
   font-size: 32px;
   font-size: 2rem;
 }

 .f2_5{
   font-size: 40px;
   font-size: 2.5rem;
 }

 .f3{
   font-size: 48px;
   font-size: 3rem;
 }

 .f3_5{
   font-size: 56px;
   font-size: 3.5rem;
 }

 .f4{
   font-size: 64px;
   font-size: 4rem;
 }

 .f4_5{
   font-size: 72px;
   font-size: 4.5rem;
 }

 .f5{
   font-size: 80px;
   font-size: 5rem;
 }

/* marguin y paddin */
.mauto{margin: auto;}

 .m0{
	margin: 0;
}
.m_25{
  margin: 4px;
  margin: 0.25rem;
}
.m_5{
  margin: 8px;
  margin: 0.5rem;
}

.m_75{
  margin: 12px;
  margin: 0.75px;
}

.m1{
  margin: 16px;
  margin: 1rem;
}
 .m1_25{
   margin: 20px;
   margin: 1.25rem;
 }

 .m1_75{
   margin: 28px;
   margin: 1.75rem;
 }

 .m2{
   margin: 32px;
   margin: 2rem;
 }


/* padding */
 .pauto{padding: auto;}

 .p0{
	padding: 0;
}
.p_25{
  padding: 4px;
  padding: 0.25rem;
}
.p_5{
  padding: 8px;
  padding: 0.5rem;
}

.p_75{
  padding: 12px;
  padding: 0.75px;
}

.p1{
  padding: 16px;
  padding: 1rem;
}
 .p1_25{
   padding: 20px;
   padding: 1.25rem;
 }

 .p1_75{
   padding: 28px;
   padding: 1.75rem;
 }

 .p2{
   padding: 32px;
   padding: 2rem;
 }

 /* BORDE y DISPLAY */
 .border{border: thin solid #000;}

 .noborder{border: 0;}

 .round{border-radius: 100%;}

 .noround{border-radius: 0;}

 .inline{display: inline;}

 .block{display: block;}

 .none{display: none;}

 .bullet{
 margin-left: 16px;
 margin-left: 1rem;
 list-style-type: inherit;
 list-style-position: inside;
 }

 .nobullet{
   margin-left: 0;
   list-style-type: none;
 }

     /* Estilos Generales +1200px
    Breakpoints para responsive Desing Desktop First:
    1200px   1024px   768px   600px    480px   320px
    75em       64em     48em    37.5em  30m     20em */
   @media(min-width: 30em) {
.sm-floatl{
	float: left;
}

.sm-floatr{
	float: right;
}

.sm-clear, .sm-clear::after, .sm-clear::before{/*esto es para limpiar la flotacion*/
	clear: both;
}

.sm-clear::after, .sm-clear::before{
	content: '';
	display: block;
}

/* Tecnica 2 Display:inline-block */
.sm-inli-block{
	display: inline-block;
}

/* Tecnica 3 display:table */
.sm-table{
	display:table;
}

.sm-table-cell{
	display:table-cell;
}

/**************************/
.sm-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.sm-flex-inline{
  display: -ms-iline-flexbox;
  display: -webkit-iline-flex;
	display: flex;
}

.sm-flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sm-flex-row-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sm-flex-column{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sm-flex-column-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sm-flex-nowrap{
  -webkit-flex-wrap:nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.sm-flex-wrap{
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-flex-wrap-reverse{
  -webkit-flex-wrap:wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.sm-jc-flex-start{
  justify-content: flex-start;
}

.sm-jc-flex-end{
  justify-content: flex-end;
}

.sm-jc-flex-center{
  justify-content: center;
}

.sm-jc-flex-between{
  justify-content: space-between;
}

.sm-jc-flex-around{
justify-content: space-around;
}

.sm-ai-flex-start{
  align-items: flex-start;
}

.sm-ai-flex-end{
  align-items: flex-end;
}

.sm-ai-center{
  align-items: center;
}

.sm-ai-flex-baseline{
  align-items: baseline;
}

.sm-ai-stretch{
align-items: stretch;
}

.sm-ac-flex-start{
  align-content: flex-start;
}

.sm-ac-flex-end{
  align-content: flex-end;
}

.sm-ac-center{
  align-content: center;
}

.sm-ac-space-between{
  align-content: space-between;
}

.sm-ac-space-around{
  align-content: space-around;
}

.sm-ac-stretch{
  align-content: stretch;
}

/* para los hijos */
.sm-flex-none{
  flex: none;
}

.sm-flex-auto{
  flex: auto;
}

/* **************** */
.sm-as-flex-start{
  align-self: flex-start;
}

.sm-as-flex-end{
  align-self: flex-end;
}

.sm-as-center{
  align-self: center;
}

.sm-as-baseline{
  align-self: baseline;
}

.sm-as-stretch{
  align-self: stretch;
}

.sm-as-auto{
  align-self: auto;
}

/* alineaciones verticales y horizontales */
.sm-v-baseline{
	vertical-align: baseline;
}

.sm-v-bottom{
	vertical-align: bottom;
}

.sm-v-middle{
	vertical-align: middle;/*para cabecera de menu*/
}

.sm-v-top{
	vertical-align: top;
}

.sm-left{
  text-align: left;
}
.sm-center{
  text-align: center;
}
.sm-right{
  text-align: right;
}
.sm-justify{
  text-align: justify;
}

/*tama単os de fuente*/
.sm-f0{
	font-size: 0;
}
.sm-f_25{
  font-size: 4px;
  font-size: 0.25rem;
}
.sm-f_5{
  font-size: 8px;
  font-size: 0.5rem;
}

.sm-f_75{
  font-size: 12px;
  font-size: 0.75px;
}

.sm-f1{
  font-size: 16px;
  font-size: 1rem;
}
 .sm-f1_25{
   font-size: 20px;
   font-size: 1.25rem;
 }

 .sm-f1_75{
   font-size: 28px;
   font-size: 1.75rem;
 }

 .sm-f2{
   font-size: 32px;
   font-size: 2rem;
 }

 .sm-f2_5{
   font-size: 40px;
   font-size: 2.5rem;
 }

 .sm-f3{
   font-size: 48px;
   font-size: 3rem;
 }

 .sm-f3_5{
   font-size: 56px;
   font-size: 3.5rem;
 }

 .sm-f4{
   font-size: 64px;
   font-size: 4rem;
 }

 .sm-f4_5{
   font-size: 72px;
   font-size: 4.5rem;
 }

 .sm-f5{
   font-size: 80px;
   font-size: 5rem;
 }

 /* marguin y paddin */
.sm-mauto{margin: auto;}

 .sm-m0{
	margin: 0;
}
.sm-m_25{
  margin: 4px;
  margin: 0.25rem;
}
.sm-m_5{
  margin: 8px;
  margin: 0.5rem;
}

.sm-m_75{
  margin: 12px;
  margin: 0.75px;
}

.sm-m1{
  margin: 16px;
  margin: 1rem;
}
 .sm-m1_25{
   margin: 20px;
   margin: 1.25rem;
 }

 .sm-m1_75{
   margin: 28px;
   margin: 1.75rem;
 }

 .sm-m2{
   margin: 32px;
   margin: 2rem;
 }


/* padding */
 .sm-pauto{padding: auto;}

 .sm-p0{
	padding: 0;
}
.sm-p_25{
  padding: 4px;
  padding: 0.25rem;
}
.sm-p_5{
  padding: 8px;
  padding: 0.5rem;
}

.sm-p_75{
  padding: 12px;
  padding: 0.75px;
}

.sm-p1{
  padding: 16px;
  padding: 1rem;
}
 .sm-p1_25{
   padding: 20px;
   padding: 1.25rem;
 }

 .sm-p1_75{
   padding: 28px;
   padding: 1.75rem;
 }

 .sm-p2{
   padding: 32px;
   padding: 2rem;
 }
 
 /* BORDE y DISPLAY */
 .sm-border{border: thin solid #000;}

 .sm-noborder{border: 0;}

 .sm-round{border-radius: 100%;}

 .sm-noround{border-radius: 0;}

 .sm-inline{display: inline;}

 .sm-block{display: block;}

 .sm-none{display: none;}

 .sm-bullet{
 margin-left: 16px;
 margin-left: 1rem;
 list-style-type: inherit;
 list-style-position: inside;
 }

 .sm-nobullet{
   margin-left: 0;
   list-style-type: none;
 }

    }

    @media(min-width: 48em) {
.md-floatl{
	float: left;
}

.md-floatr{
	float: right;
}

.md-clear, .md-clear::after, .md-clear::before{/*esto es para limpiar la flotacion*/
	clear: both;
}

.md-clear::after, .md-clear::before{
	content: '';
	display: block;
}

/* Tecnica 2 Display:inline-block */
.md-inli-block{
	display: inline-block;
}

/* Tecnica 3 display:table */
.md-table{
	display:table;
}

.md-table-cell{
	display:table-cell;
}

/**************/

.md-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.md-flex-inline{
  display: -ms-iline-flexbox;
  display: -webkit-iline-flex;
	display: flex;
}

.md-flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.md-flex-row-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.md-flex-column{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.md-flex-column-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.md-flex-nowrap{
  -webkit-flex-wrap:nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.md-flex-wrap{
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.md-flex-wrap-reverse{
  -webkit-flex-wrap:wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.md-jc-flex-start{
  justify-content: flex-start;
}

.md-jc-flex-end{
  justify-content: flex-end;
}

.md-jc-flex-center{
  justify-content: center;
}

.md-jc-flex-between{
  justify-content: space-between;
}

.md-jc-flex-around{
justify-content: space-around;
}

.md-ai-flex-start{
  align-items: flex-start;
}

.md-ai-flex-end{
  align-items: flex-end;
}

.md-ai-center{
  align-items: center;
}

.md-ai-flex-baseline{
  align-items: baseline;
}

.md-ai-stretch{
align-items: stretch;
}

.md-ac-flex-start{
  align-content: flex-start;
}

.md-ac-flex-end{
  align-content: flex-end;
}

.md-ac-center{
  align-content: center;
}

.md-ac-space-between{
  align-content: space-between;
}

.md-ac-space-around{
  align-content: space-around;
}

.md-ac-stretch{
  align-content: stretch;
}

/* para los hijos */
.md-flex-none{
  flex: none;
}

.md-flex-auto{
  flex: auto;
}

/* **************** */
.md-as-flex-start{
  align-self: flex-start;
}

.md-as-flex-end{
  align-self: flex-end;
}

.md-as-center{
  align-self: center;
}

.md-as-baseline{
  align-self: baseline;
}

.md-as-stretch{
  align-self: stretch;
}

.md-as-auto{
  align-self: auto;
}

/* alineaciones verticales y horizontales */
.md-v-baseline{
	vertical-align: baseline;
}

.md-v-bottom{
	vertical-align: bottom;
}

.md-v-middle{
	vertical-align: middle;/*para cabecera de menu*/
}

.md-v-top{
	vertical-align: top;
}

.md-left{
  text-align: left;
}
.md-center{
  text-align: center;
}
.md-right{
  text-align: right;
}
.md-justify{
  text-align: justify;
}

/*tama単os de fuente*/
.md-f0{
	font-size: 0;
}
.md-f_25{
  font-size: 4px;
  font-size: 0.25rem;
}
.md-f_5{
  font-size: 8px;
  font-size: 0.5rem;
}

.md-f_75{
  font-size: 12px;
  font-size: 0.75px;
}

.md-f1{
  font-size: 16px;
  font-size: 1rem;
}
 .md-f1_25{
   font-size: 20px;
   font-size: 1.25rem;
 }

 .md-f1_75{
   font-size: 28px;
   font-size: 1.75rem;
 }

 .md-f2{
   font-size: 32px;
   font-size: 2rem;
 }

 .md-f2_5{
   font-size: 40px;
   font-size: 2.5rem;
 }

 .md-f3{
   font-size: 48px;
   font-size: 3rem;
 }

 .md-f3_5{
   font-size: 56px;
   font-size: 3.5rem;
 }

 .md-f4{
   font-size: 64px;
   font-size: 4rem;
 }

 .md-f4_5{
   font-size: 72px;
   font-size: 4.5rem;
 }

 .md-f5{
   font-size: 80px;
   font-size: 5rem;
 }

 /* marguin y paddin */
.md-mauto{margin: auto;}

 .md-m0{
	margin: 0;
}
.md-m_25{
  margin: 4px;
  margin: 0.25rem;
}
.md-m_5{
  margin: 8px;
  margin: 0.5rem;
}

.md-m_75{
  margin: 12px;
  margin: 0.75px;
}

.md-m1{
  margin: 16px;
  margin: 1rem;
}
 .md-m1_25{
   margin: 20px;
   margin: 1.25rem;
 }

 .md-m1_75{
   margin: 28px;
   margin: 1.75rem;
 }

 .md-m2{
   margin: 32px;
   margin: 2rem;
 }


/* padding */
 .md-pauto{padding: auto;}

 .md-p0{
	padding: 0;
}
.md-p_25{
  padding: 4px;
  padding: 0.25rem;
}
.md-p_5{
  padding: 8px;
  padding: 0.5rem;
}

.md-p_75{
  padding: 12px;
  padding: 0.75px;
}

.md-p1{
  padding: 16px;
  padding: 1rem;
}
 .md-p1_25{
   padding: 20px;
   padding: 1.25rem;
 }

 .md-p1_75{
   padding: 28px;
   padding: 1.75rem;
 }

 .md-p2{
   padding: 32px;
   padding: 2rem;
 }

/* BORDE y DISPLAY */
 .md-border{border: thin solid #000;}

 .md-noborder{border: 0;}

 .md-round{border-radius: 100%;}

 .md-noround{border-radius: 0;}

 .md-inline{display: inline;}

 .md-block{display: block;}

 .md-none{display: none;}

 .md-bullet{
 margin-left: 16px;
 margin-left: 1rem;
 list-style-type: inherit;
 list-style-position: inside;
 }

 .md-nobullet{
   margin-left: 0;
   list-style-type: none;
 }

    }

    @media(min-width: 64em) {
    .lg-floatl{
	float: left;
}

.lg-floatr{
	float: right;
}

.lg-clear, .lg-clear::after, .lg-clear::before{/*esto es para limpiar la flotacion*/
	clear: both;
}

.lg-clear::after, .lg-clear::before{
	content: '';
	display: block;
}

/* Tecnica 2 Display:inline-block */
.md-inli-block{
	display: inline-block;
}

/* Tecnica 3 display:table */
.lg-table{
	display:table;
}

.lg-table-cell{
	display:table-cell;
}
/* ************************************ */

/* ************************************ */
.lg-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.lg-flex-inline{
  display: -ms-iline-flexbox;
  display: -webkit-iline-flex;
	display: flex;
}

.lg-flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.lg-flex-row-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.lg-flex-column{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.lg-flex-column-reverse{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.lg-flex-nowrap{
  -webkit-flex-wrap:nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.lg-flex-wrap{
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lg-flex-wrap-reverse{
  -webkit-flex-wrap:wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.lg-jc-flex-start{
  justify-content: flex-start;
}

.lg-jc-flex-end{
  justify-content: flex-end;
}

.lg-jc-flex-center{
  justify-content: center;
}

.lg-jc-flex-between{
  justify-content: space-between;
}

.lg-jc-flex-around{
justify-content: space-around;
}

.lg-ai-flex-start{
  align-items: flex-start;
}

.lg-ai-flex-end{
  align-items: flex-end;
}

.lg-ai-center{
  align-items: center;
}

.lg-ai-flex-baseline{
  align-items: baseline;
}

.lg-ai-stretch{
align-items: stretch;
}

.lg-ac-flex-start{
  align-content: flex-start;
}

.lg-ac-flex-end{
  align-content: flex-end;
}

.lg-ac-center{
  align-content: center;
}

.lg-ac-space-between{
  align-content: space-between;
}

.lg-ac-space-around{
  align-content: space-around;
}

.lg-ac-stretch{
  align-content: stretch;
}

/* para los hijos */
.lg-flex-none{
  flex: none;
}

.lg-flex-auto{
  flex: auto;
}

/* **************** */
.lg-as-flex-start{
  align-self: flex-start;
}

.lg-as-flex-end{
  align-self: flex-end;
}

.lg-as-center{
  align-self: center;
}

.lg-as-baseline{
  align-self: baseline;
}

.lg-as-stretch{
  align-self: stretch;
}

.lg-as-auto{
  align-self: auto;
}

/* alineaciones verticales y horizontales */
.lg-v-baseline{
	vertical-align: baseline;
}

.lg-v-bottom{
	vertical-align: bottom;
}

.lg-v-middle{
	vertical-align: middle;/*para cabecera de menu*/
}

.lg-v-top{
	vertical-align: top;
}

.lg-left{
  text-align: left;
}
.lg-center{
  text-align: center;
}
.lg-right{
  text-align: right;
}
.lg-justify{
  text-align: justify;
}

/*tama単os de fuente*/
.lg-f0{
	font-size: 0;
}
.lg-f_25{
  font-size: 4px;
  font-size: 0.25rem;
}
.lg-f_5{
  font-size: 8px;
  font-size: 0.5rem;
}

.lg-f_75{
  font-size: 12px;
  font-size: 0.75px;
}

.lg-f1{
  font-size: 16px;
  font-size: 1rem;
}
 .lg-f1_25{
   font-size: 20px;
   font-size: 1.25rem;
 }

 .lg-f1_75{
   font-size: 28px;
   font-size: 1.75rem;
 }

 .lg-f2{
   font-size: 32px;
   font-size: 2rem;
 }

 .lg-f2_5{
   font-size: 40px;
   font-size: 2.5rem;
 }

 .lg-f3{
   font-size: 48px;
   font-size: 3rem;
 }

 .lg-f3_5{
   font-size: 56px;
   font-size: 3.5rem;
 }

 .lg-f4{
   font-size: 64px;
   font-size: 4rem;
 }

 .lg-f4_5{
   font-size: 72px;
   font-size: 4.5rem;
 }

 .lg-f5{
   font-size: 80px;
   font-size: 5rem;
 }

 /* marguin y paddin */
.lg-mauto{margin: auto;}

 .lg-m0{
	margin: 0;
}
.lg-m_25{
  margin: 4px;
  margin: 0.25rem;
}
.lg-m_5{
  margin: 8px;
  margin: 0.5rem;
}

.lg-m_75{
  margin: 12px;
  margin: 0.75px;
}

.lg-m1{
  margin: 16px;
  margin: 1rem;
}
 .lg-m1_25{
   margin: 20px;
   margin: 1.25rem;
 }

 .lg-m1_75{
   margin: 28px;
   margin: 1.75rem;
 }

 .lg-m2{
   margin: 32px;
   margin: 2rem;
 }


/* padding */
 .lg-pauto{padding: auto;}

 .lg-p0{
	padding: 0;
}
.lg-p_25{
  padding: 4px;
  padding: 0.25rem;
}
.lg-p_5{
  padding: 8px;
  padding: 0.5rem;
}

.lg-p_75{
  padding: 12px;
  padding: 0.75px;
}

.lg-p1{
  padding: 16px;
  padding: 1rem;
}
 .lg-p1_25{
   padding: 20px;
   padding: 1.25rem;
 }

 .lg-p1_75{
   padding: 28px;
   padding: 1.75rem;
 }

 .lg-p2{
   padding: 32px;
   padding: 2rem;
 }

 /* BORDE y DISPLAY */
 .lg-border{border: thin solid #000;}

 .lg-noborder{border: 0;}

 .lg-round{border-radius: 100%;}

 .lg-noround{border-radius: 0;}

 .lg-inline{display: inline;}

 .lg-block{display: block;}

 .lg-none{display: none;}

 .lg-bullet{
 margin-left: 16px;
 margin-left: 1rem;
 list-style-type: inherit;
 list-style-position: inside;
 }

 .lg-nobullet{
   margin-left: 0;
   list-style-type: none;
 }

    }
